* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ิbody {
    h5 {
        .prompt-regular {
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

    }
}

nav {
    width: 100%;
    height: 8vh;
    background-color: #0d2516;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    position: fixed;
    border-bottom: 2px solid #1b9b77;
    z-index: 100;

    .search {
        input {
            padding: .1rem .5rem;
            border-radius: 30px;
            border: none;
            border: 1.8px solid #1b9b77;
            color: #0d2516;
            /* text-transform: uppercase; */
            font-size: 17px;
            text-align: center;
        }

        button {
            padding: .1rem .5rem;
            border-radius: 30px;
            border: 1.8px solid #D7E8BC;
            transition: .25s ease-in-out;
            background-color: #0d2516;
            color: #D7E8BC;
            text-transform: uppercase;
        }

        button:hover {
            background-color: #fff;
            color: #1b9b77;
        }
    }

    .logo {
        width: 20%;
        color: #D7E8BC;
        font-size: 25px;

    }

    .menu {
        width: 550px;

        height: 100%;

        ul li {
            width: 500px;
            height: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            select {
                color: #D7E8BC;
                border: none;
                font-size: 15px;
                background-color: #0d2516;
                padding: .5rem 1rem;
                text-transform: uppercase;
            }

            option {
                background-color: #fff;
                color: #1b9b77;
            }

            a {
                color: #D7E8BC;
                text-decoration: none;
                font-size: 15px;
                transition: .25s ease-in-out;
                font-size: 15px;
                text-transform: uppercase;
            }

            #regis {
                border: 1.8px solid #D7E8BC;
                padding: .1rem .5rem;
                border-radius: 30px;
            }

            #regis:hover {
                background-color: #fff;
                color: #1b9b77;
            }
        }
    }

    .row {
        margin-bottom: 0px;
    }

    main {
        margin-top: 0;
    }

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .carousel {
        width: 100%;
        height: 50vh;
        max-width: 1200px;
        margin: 30px auto;
    }

    .carousel-caption h5 {
        font-family: "Prompt", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        /* เปลี่ยนเป็นสีทอง */
        font-size: 24px;
        /* ขนาดฟอนต์ */
    }

    .carousel-caption p {
        font-family: "Prompt", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-indent: 30px;
        /* Indents the first line of the paragraph */
        color: #ffffff;
        /* เปลี่ยนเป็นสีส้ม */
        font-size: 16px;
        /* ขนาดฟอนต์ */
    }

    .carousel-caption {
        background-color: rgba(255, 255, 255, 0.5);
        /* พื้นหลังโปร่งใส */
        padding: 10px;
        /* ระยะห่างภายใน */
        border-radius: 5px;
        /* ขอบโค้งมน */
        text-align: center;
        /* จัดข้อความให้กลาง */
    }


    h3 {
        margin-top: 5;
        width: 100%;
        text-align: center;
        color: #1b9b77;
        border-bottom: 2px solid #1b9b77;
        padding-bottom: 2rem;
    }

    .section2 {
        font-size: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        place-items: center;
        row-gap: 3rem;
        padding-bottom: 10vh;

        .inbox {
            text-align: center;
            /* จัดกลาง */
            margin: 20px;
            /* ระยะห่าง */
            border: 1px solid #0d2516;
            /* ขอบของกล่อง */
            border-radius: 10px;
            /* ขอบโค้ง */
            padding: 15px;
            /* ระยะห่างภายในกล่อง */
            background-color: #fafafa;
            /* สีพื้นหลัง */
        }

        .inbox h3 {
            font-size: 24px;
            /* ขนาดฟอนต์ */
            color: #0d2516;
            /* สี */
            margin-bottom: 10px;
            /* ระยะห่างด้านล่าง */
        }

        .inbox h5 {
            font-size: 16px;
            /* ขนาดฟอนต์ */
            color: #050505;
            /* สี */
            line-height: 1.5;
            /* ระยะห่างบรรทัด */
            margin-top: 10px;
            /* ระยะห่างด้านบน */
        }

        .box {
            width: 300px;
            /* กว้าง 300px */
            height: 400px;
            /* สูง 400px */
            transition: .25s ease-in-out;
            /* เอฟเฟกต์การเคลื่อนไหว */
            cursor: pointer;
            /* เปลี่ยนเคอร์เซอร์ */
            border-radius: 10px;
            /* ขอบโค้ง */
            overflow: hidden;
            /* ซ่อนส่วนเกิน */
            display: flex;
            /* ใช้ Flexbox */
            justify-content: center;
            /* จัดกลางในแนวนอน */
            align-items: center;
            /* จัดกลางในแนวตั้ง */
            margin: 0 auto;
            /* จัดกลางกล่อง */
        }

        .box:hover {
            transform: translateY(-10px);
        }

        .box1,
        .box2,
        .box3,
        .box4 {
            background-position: center;
            background-size: cover;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        .box1 {
            background-image: url(/images/almond.jpg);
        }

        .box2 {
            background-image: url(/images/flower.jpg);
        }

        .box3 {
            background-image: url(/images/moon.jpg);
        }

        .box img {
            width: 100%;
            /* ขนาดภาพเต็มที่ */
            height: auto;
            /* สูงอัตโนมัติ */
            display: block;
            /* ปิดการแสดงผล */
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }

}

.prompt-regular {
    font-family: "Prompt", serif;
    font-weight: 400;
    font-style: normal;
}

.prompt-light {
    font-family: "Prompt", serif;
    font-weight: 300;
    font-style: normal;
}

.rounded-bg {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.paragraph {
    line-height: 1.2;
    text-indent: 50px;
    text-align: justify;
}

.con {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin-top: 15vh;
    width: 60%;
    height: 80vh;

}

@media (max-width: 391px) {
    nav {
        width: 100%;
        padding: 0 1rem;
        height: 10vh;
        display: flex;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            text-align: center;
            font-size: 20px;
        }

        .search {
            display: none;
        }

        .menu {
            display: flex;
            width: 300px;
            width: 70%;
            display: flex;
            align-items: center;

            ul li {
                display: flex;
                height: 100%;
                flex-direction: row;
                width: 200px;
                gap: 0;
                margin-top: 1rem;


                #con {
                    display: none;
                }

                select {
                    font-size: 8.5px;
                    width: 100px;
                    padding: .7rem .7rem;

                    option {
                        font-size: 10px;

                    }
                }

                a {
                    font-size: 8.5px;
                }

                #regis {
                    border: none;

                }
            }
        }

    }

    .con {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: start;

        .info {
            width: 90%;
            height: 50%;
            display: flex;
            align-items: start;
        }
    }

    .container {
        .text {
            padding: 1rem;

            h5 {
                font-size: 13px;
                text-align: start;
            }
        }
    }

    main {
        .section2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .inbox {
                width: 300px;
                height: 450px;
                h3 {
                    font-size: 15px;
                }

                h5 {
                    font-size: 11px;
                    text-align: start;
                }
                .box{
                    width: 200px;
                    height: 290px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    /* display: none; */
                }
                
            }
        }


    }
}